@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla:wght@800&display=swap');

* {    
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1C1C1C;
    color: white;
}

.container {
    padding: 100px 50px;
    width: 350px;
    background-color: #1F2937;
}

h1 {
    padding-bottom: 10px;
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    font-weight: 800;
}

span {
    color: #4ADF86;
}

p {
    font-size: 20px;
}

a {    
    color: #55F991;
}

.input-container {
    display: block;
    padding: 40px 0;
}

input {
    text-align: center;
    background-color: #273549;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    color: #55F991;
    font-size: 16px;
    line-height: 40px;
    width: 100%;
    margin: 10px 0;
}

input::placeholder {
    color: white;
    font-weight: 400;
    opacity: 0.7;
}

#invalidUser, #invalidPassword {
    text-align: center;
    color: red;
    font-size: 14px;
}

.btn-container {
    display: block;
    gap: 30px;
}

.btn {
    margin: 10px 0;
    background-color: #10B981;
    color: white;
    border: none;
    border-radius: 4px;
    line-height: 40px;
    font-size: 16px;
    width: 100%;
}

.btn:hover {
    background-color: #16815e;
}

.img-container {
    text-align: center;
    margin: 10px;
}